{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block link %}
    {#    <link rel="stylesheet" type="text/css" href="{% static 'js/jquery.fluidbox/fluidbox.css' %}">#}
    {#    <link rel="stylesheet" type="text/css" href="{% static 'js/owl-carousel/owl.carousel.css' %}">#}
    {#    <link rel="stylesheet" type="text/css" href="{% static 'js/photo-swipe/photoswipe.css' %}">#}
    {#    <link rel="stylesheet" type="text/css" href="{% static 'js/photo-swipe/default-skin/default-skin.css' %}">#}
    {#    <link rel="stylesheet" type="text/css" href="{% static 'js/jquery.magnific-popup/magnific-popup.css' %}">#}
    {#    <link rel="stylesheet" type="text/css" href="{% static 'js/slippry/slippry.css' %}">#}
    {#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">#}

{% endblock %}
{% block title %}
    Contact
{% endblock %}
{% block content %}

    <div class="container">
        <div class="card">
            <div class="col-lg-12  ">
                <div class="main-wrap">
                    <div class="section" data-aos="fade-up">
{#                        <div class="container">#}
                            <div class="card-header bg-secondary">

                                <div class="row justify-content-center mb-3">
                                    <div class="col-md-8  text-center">
                                        <h2 class="site-title">Contact Form</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="row justify-content-center">
                                    <div class="col-md-10 p-5 form-wrap">
                                        <form method="POST">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label for="id_name">Name</label>
                                                            <input type="text" name="name" class="form-control"
                                                                   placeholder="Name"
                                                                   title=""
                                                                   required="" id="id_name">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group ">
                                                            <label for="id_email">email</label>
                                                            <input type="email" name="email" class="form-control"
                                                                   placeholder="From email"
                                                                   title=""
                                                                   required=required
                                                                   id="id_email">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label for="id_subject">Subject</label>
                                                            <input type="text" name="subject" class="form-control"
                                                                   placeholder="Subject"
                                                                   title=""
                                                                   required=required
                                                                   id="id_subject">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label for="id_message">Message</label>
                                                            <textarea name="message"
                                                                      cols="2" rows="2"
                                                                      placeholder="Enter the Message here"
                                                                      class=""
                                                                      title=""
                                                                      required=required
                                                                      id="id_message"
                                                                      spellcheck="false"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            {#                                <button class="btn btn-outline-primary ">ADD</button>#}
                                                            <button type="submit" class="btn btn-outline-primary">Send
                                                                Message
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        {#                <form method="POST">#}
                                        {#                    {% csrf_token %}#}
                                        {#                    {% bootstrap_form form %}#}
                                        {#                    {% buttons %}#}
                                        {#                        <button type="submit" class="btn btn-primary">Send Message</button>#}
                                        {#                    {% endbuttons %}#}
                                        {#                </form>#}
                                    </div>
                                </div>
                            </div>
                        <div class="card-footer ">
                        <div class="contact_info_icon comments-title" style="size: 200px">
                            <a href="https://instagram.com/thelittphotographer" class="float-left"
                               style="margin: 0px ; color: black"><i class="pw-icon-instagram"></i>thelittphotographer</a>
                            <a href="tel:‭234 706 394 7753" class="text-center" style="margin: 0px 20%; color: black"><i
                                    class="pw-icon-phone-outline"></i>+‭234 706 394 7753</a>
                            <a href="mailto:Thelittphotographer@gmail.com" class="float-right" style="margin: 0px ; color: black"><i
                                    class="pw-icon-mail"></i>Thelittphotographer@gmail.com</a>

                        </div>
                    </div>
{#                        </div>#}
                    </div> <!-- .section -->


                    <div class="map-wrap" id="map" data-aos="fade"></div>


                </div> <!-- .main-wrap -->
            </div>
        </div>
    </div>


{% endblock %}
{% block script %}
    {#<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>#}
    {#<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>#}
    {#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>#}
    {#    <script src="{% static 'js/fastclick.js' %}"></script>#}
    {#    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>#}
    {#    <script src="{% static 'js/owl-carousel/owl.carousel.min.js' %}"></script>#}
    {#    <script src="{% static 'js/jquery.collagePlus/jquery.collagePlus.min.js' %}"></script>#}
    {#    <script src="{% static 'js/jquery.magnific-popup/jquery.magnific-popup.min.js' %}"></script>#}
    {##}
    {#    <script src="{% static 'js/main.js' %}"></script>#}
    {#    <script src="{% static 'js/jquery.fluidbox/jquery.fluidbox.min.js' %}"></script>#}
{% endblock %}